.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
  }
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 30px 50px 0 rgba(0,0,0,0.2);
    transform: scale(1.05);
  }

  
  /* Add some padding inside the card container */
  .container {
    padding: 3% 5%;
  }

  #nft{
      padding: 3%;
      width: 28vh;
      height: 28vh;
  }

  .grid-container {
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 50px;
  }

  .price{
    margin-bottom: 2%;
  }

  .grid-item{
    max-width: 28vh;
    min-width: 28vh;
  }

  .sale-and-edit-div{
    display: inline-grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 100%;
  }

  .sale-label{
    
    color: white;
    grid-row-start: 2;
  }
  
  .for-sale-label{
    padding-top: 2%;
    padding-left: 4%;
    background-color: green;
    width: 50%;
  }
  
  .not-for-sale-label{
    padding-top: 2%;
    padding-left: 3%;
    background-color: red;
    width: 68%;
  }

  .edit-btn{
    grid-column-start: 2;
    grid-row-start: 2;
    background-color: #9bb1ff;
    border: none;
    color: black
  }

  .card:hover .edit-btn{
    transition: all 0.2s ease-in-out;
    transform: scale(1.2);

  }

  .edit-btn:hover{
    transition: all 0.2s ease-in-out;
    background: #BFD7FF;
  }
  