body{
  background-color: var(--background-color);
}

.main-div {        
  display: grid;
  justify-content: center;
  margin-bottom: 3%;
}

#auth-btn{
  border-radius: 4px;
  background: var(--btn-color);
  padding: 10px 22px;
  color: #fff;
  outline: none;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
  margin-left: 24px;
}

#auth-btn:hover{
  transition: all 0.2s ease-in-out;
  background: var(--background-color);
  color: #010606;
}

.my-collection-h1{
  display: flex;
  justify-content: center;
  margin-bottom: 2vh;
  margin-top: 2vh;
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 30px 50px 0 rgba(0,0,0,0.2);
  transform: scale(1.05);
}


/* Add some padding inside the card container */
.container {
  padding: 3% 5%;
}

#nft{
  padding: 3%;
  width: 28vh;
  height: 28vh;
}

.grid-container {
  display: inline-grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 50px;
}

.price{
  margin-bottom: 2%;
}

.grid-item{
  max-width: 28vh;
  min-width: 28vh;
}

.sale-and-edit-div{
  display: inline-grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr;
  width: 100%;
}

.sale-label{
  color: white;
  grid-row-start: 2;
  padding-top: 1%;
  padding-bottom: 1%;
}

.for-sale-label{
  padding-left: 4%;
  background-color: var(--for-sale-color);
  width: 50%;
}

.not-for-sale-label{
  padding-left: 3%;
  background-color: var(--not-for-sale-color);
  width: 68%;
}

.edit-btn{
  grid-column-start: 2;
  grid-row-start: 2;
  background-color: var(--nav-bar-color);
  /* background-color: #9bb1ff; */
  border: none;
  color: white
}

.card:hover .edit-btn{
  transition: all 0.2s ease-in-out;
  transform: scale(1.2);

}

.edit-btn:hover{
  transition: all 0.2s ease-in-out;
  background-color: var(--background-color);
  color: black;
}


.navbar-link{
  color: #fff;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0 1rem;
  height: 100%;
  cursor: pointer;
  transition: all 0.5s;
}

.navbar-link:hover{
  color: var(--active-page-color);
}

.navbar-link:focus{
  color: var(--active-page-color);
}

.about-us-title{
  margin-top: 2%;
  margin-left: 50.8%;
}

.sort-btn{
  background-color: var(--background-color);
  border: none;
  font-size: 20px;
  padding: 0;
}

.sortDiv{
  display: flex;
  justify-content: flex-end;
}

.sort-p{
  margin: 0;
  margin-right: 1%;
  margin-left: 1%
}