body{background-color: #d9e7ff;}

.main-div {        
    display: flex;
    justify-content: center;
}

#auth-btn{
    border-radius: 4px;
  background: #256ce1;
  padding: 10px 22px;
  color: #fff;
  outline: none;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  text-decoration: none;

  margin-left: 24px;
}

#auth-btn:hover{
        transition: all 0.2s ease-in-out;
        background: #BFD7FF;
        color: #010606;
}