@import url('http://fonts.cdnfonts.com/css/century-gothic?styles=24895,24896');

:root{
  /* --background-color: #BFD7FF; */
  --background-color: #d9e7ff;
  --nav-bar-color: #001d52;
  --btn-color: #256ce1;
  --active-page-color: #99beff
}


* {
  font-family: 'Century Gothic', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

